<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="kz.terah.projectfarakzm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="kz.terah.projectfarakzm.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="kz.terah.projectfarakzm.login.ThirdActivity" />
        <activity android:name="kz.terah.projectfarakzm.login.SecondActivity" />
        <activity android:name="kz.terah.projectfarakzm.login.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kz.terah.projectfarakzm.main.MainActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kz.terah.projectfarakzm.ZayavkaActivity"
            android:parentActivityName="kz.terah.projectfarakzm.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.terah.projectfarakzm.main.MainActivity" />
        </activity>
        <activity
            android:name="kz.terah.projectfarakzm.OnasActivity"
            android:parentActivityName="kz.terah.projectfarakzm.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.terah.projectfarakzm.main.MainActivity" />
        </activity>

        <activity
            android:name="kz.terah.projectfarakzm.KontaktiActivity"
            android:parentActivityName="kz.terah.projectfarakzm.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.terah.projectfarakzm.main.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_ENgSxP8T3Z7fFEIqCKycX-NmJeBipRQ" />

        <activity
            android:name="kz.terah.projectfarakzm.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="kz.terah.projectfarakzm.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.terah.projectfarakzm.main.MainActivity" />
        </activity>

        <activity
            android:name="kz.terah.projectfarakzm.parts.FindPartsActivity"
            android:parentActivityName="kz.terah.projectfarakzm.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kz.terah.projectfarakzm.main.MainActivity" />
        </activity>
    </application>

</manifest>